[user]
  # for anonymous commits
  # name = secret
  # email = secret@keep.it
  # username = secret
  name = Myles Borins
  email = myles.borins@gmail.com
  username = mylesborins
  signingkey = 0B5CA946
[github]
  user = mylesborins
  token = NOPENOPENOPENOPENOPE
[color]
  diff = true
  ui = auto
[core]
  excludesfile = /Users/mylesborins/.gitignore_global
  editor = mate -w
[alias]
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  plus = commit -a --amend --no-edit
  assume   = update-index --assume-unchanged
  unassume = update-index --no-assume-unchanged
  assumed  = "!git ls-files -v | grep ^h | cut -c 3-"
  xcode = !git add *.xcodeproj && git commit *.xcodeproj -m 'Fuck you xcode'
  patchit = "!f() { curl -L $1.patch | git am; }; f"
  patchit-please = "!f() { curl -L $1.patch | git am -3; }; f"
  head = "!git rev-parse HEAD | cut -b -10"
  mcfly = reset --hard HEAD~1
  fixup = commit --fixup HEAD
[credential]
  helper = osxkeychain
[push]
  default = simple
[help]
  autocorrect = 1
[commit]
  gpgsign = true
[init]
  defaultBranch = main
